.bond-form__inputs {
  padding: 0;
}

.form-item {
  margin: 1em;
}

.form-item__input {
  display: block;
  width: 66%;
  height: 2em;
  margin: 0.5em 0;
}

.bond-form__calculate {
  display: block;
  margin: 0 auto;
  height: 4em;
  width: 100% - 20em;
}

.bond-cost {
  border: solid 0.5em @background-color;
  border-radius: 0.4em;
  width: 100% - 20em;
  margin: 2em auto;
}

.bond-form__error {
  color: red;
}

.bond-cost__create {
  display: block;
  margin: 2em auto;
  height: 4em;
  width: 100% - 20em;
}

.bond-cost__message {
  display: block;
  text-align: center;
  margin: 1em 0;
}

.bond-cost__price {
  font-weight: bold;
}
