@import './vars.less';
@import '../components/Homepage/small.less';

body {
  margin: 0;
}

.app-root {
  box-sizing: border-box;
  background-color: @background-color;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}
